<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Home Depot | Burbujas de Pintura</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&amp;display=swap">
    <link href="https://cdn.jsdelivr.net/npm/quasar@2.1.0/dist/quasar.prod.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="app/app.css">
  </head>
  <body> 
    <div id="q-app">
      <div class="containment q-pa-md">
        <!--Header-->
        <div class="row q-my-md">
          <div class="col-12 text-center">
            <q-img src="app/thehomedepot.svg" alt="The Home Depot" style="max-width: 120px"></q-img>
          </div>
        </div>
        <!--Certificados-->
        <section class="bg-primary q-pa-md rounded-borders shadow-24">
          <div class="row">
            <div class="col-10 offset-1 text-center text-white q-py-md">
              <div class="text-h5 text-bold">Bienvenido a</div>
              <div class="text-h4 text-bold">Burbujas de Pintura</div>
              <div class="text-h6 q-mt-md">Antes de empezar, por favor indica el certificado electrónico que quisieras recibir en caso de resultar ganador.</div>
              <div class="text-h6 q-mt-md">Selecciona tu certificado de valor indicado.</div>
            </div>
          </div>
          <div class="row q-mt-3 justify-center q-col-gutter-md">
            <div class="col-6 col-sm-3 col-md-2" v-for="(i, index) in certificados" @click="openit(i)">
              <q-card class="shadow-0 cursor-pointer">
                <q-card-section class="text-center">
                  <div>
                    <q-img :src="'app/cert/'+i[0]+'.png'" style="max-width: 120px"></q-img>
                  </div>
                  <div>
                    <q-badge :label="i[2]" color="primary"></q-badge>
                  </div>
                </q-card-section>
              </q-card>
            </div>
          </div>
        </section>
        <!--Certificados (Dialog - Modal)-->
        <q-dialog v-model="dialogCert" persistent>
          <q-card class="shadow-0">
            <q-toolbar>
              <q-toolbar-title class="text-body2 text-primary text-bold">{{itemActive[3]}}</q-toolbar-title>
              <q-btn v-close-popup icon="close" color="primary" flat></q-btn>
            </q-toolbar>
            <q-card-section>
              <div class="row items-center">
                <div class="col-12 col-sm-4 text-center">
                  <q-img :src="'app/cert/'+itemActive[0]+'.png'" style="max-width: 120px"></q-img>
                  <div>
                    <q-badge :label="itemActive[2]" color="primary" size="lg"></q-badge>
                  </div>
                </div>
                <div class="col-12 col-sm-8" v-html="itemActive[1]"></div>
              </div>
            </q-card-section>
            <q-card-section>
              <q-separator class="q-mb-lg"></q-separator>
              <div class="row items-center">
                <div class="col-12 col-sm-4 text-center">
                  <q-btn color="grey" push label="Cerrar" v-close-popup></q-btn>
                </div>
                <div class="col-12 col-sm-8 text-center">
                  <q-btn color="primary" push label="Seleccionar y Jugar" size="lg" @click="chooseit(itemActive[0])"></q-btn>
                </div>
              </div>
            </q-card-section>
          </q-card>
        </q-dialog>
        <!--Actividad-->
        <q-dialog v-model="dialogActivity" maximized persistent>
          <q-card class="activitycard">
            <iframe v-if="dialogActivity" src="activity/index.html" ref="activity" @load="activityFN"></iframe>
            <q-dialog v-model="dialogFinish" position="bottom" seamless>
              <q-card class="bg-transparent">
                <q-card-section class="text-center">
                  <div><span class="q-pa-sm bg-white rounded-borders text-body1">ID de participación:
                      <q-badge :label="idparticipacion" color="primary"></q-badge></span></div>
                  <div class="q-ma-md">
                    <q-btn label="Terminar" push color="dark" no-caps type="a" href="https://homedepot.com.mx/"></q-btn>
                  </div>
                </q-card-section>
              </q-card>
            </q-dialog>
          </q-card>
        </q-dialog>
        <!--Ticket-->
        <q-dialog v-model="dialogTicket" persistent maximized>
          <q-card class="bg-primary shadow-0">
            <q-card-section class="text-white justify-center items-center flex column full-height q-mx-auto" style="max-width: 480px; ">
              <div class="text-h6 text-bold">Ingresa tu número de ticket.</div>
              <q-input class="bg-white rounded-borders q-my-md full-width" v-model="ticketNum" input-class="text-center" standout>
                <template v-slot:prepend>
                  <q-icon name="confirmation_number"></q-icon>
                </template>
              </q-input>
              <q-btn @click="ticketCheck" label="Continuar" push size="lg" text-color="primary" color="white"></q-btn>
            </q-card-section>
          </q-card>
        </q-dialog>
        <!--Form-->
        <q-dialog class="dialogForm" v-model="dialogForm" persistent maximized>
          <q-card class="bg-primary shadow-0 dialogFormCard">
            <div class="row q-my-sm">
              <div class="col-12 text-center">
                <q-img src="app/thehomedepot.svg" alt="The Home Depot" style="max-width: 100px"></q-img>
              </div>
            </div>
            <q-card-section class="q-mx-auto" style="max-width: 600px;">
              <div class="text-h6 text-bold text-center text-white">Llena el formulario para participar.</div>
              <q-form class="full-width text-center" @submit.prevent="formSubmit" v-if="!dialogFormSMS">
                <div class="bg-white rounded-borders q-pa-sm">
                  <q-input class="q-my-sm" dense v-model="formdata.Email" label="Correo electrónico" type="email" filled required :rules="[val =&gt; !!val || 'Campo requerido.']">
                    <template v-slot:append>
                      <q-icon name="email"></q-icon>
                    </template>
                  </q-input>
                  <q-input class="q-my-md" dense v-model="formdata.CellPhone" label="Teléfono celular" type="tel" hint="Es importante que registre su número de celular correcto, se enviará un SMS de verificación al número celular registrado." filled mask="(##) #### ####" fill-mask unmasked-value required :rules="[val =&gt; !!val &amp;&amp; val.length == 10 || 'Ingresa un teléfono celular de 10 dígitos.']">
                    <template v-slot:append>
                      <q-icon name="smartphone"></q-icon>
                    </template>
                  </q-input>
                  <template v-if="!isSimple">
                    <q-input class="q-my-sm" dense v-model="formdata.FirstName" label="Nombre" filled required :rules="[val =&gt; !!val || 'Campo requerido.']">
                      <template v-slot:append>
                        <q-icon name="person"></q-icon>
                      </template>
                    </q-input>
                    <q-input class="q-my-sm" dense v-model="formdata.LastName" label="Apellido materno" filled required :rules="[val =&gt; !!val || 'Campo requerido.']">
                      <template v-slot:append>
                        <q-icon name="person"></q-icon>
                      </template>
                    </q-input>
                    <q-input class="q-my-sm" dense v-model="formdata.LastName2" label="Apellido paterno" filled required :rules="[val =&gt; !!val || 'Campo requerido.']">
                      <template v-slot:append>
                        <q-icon name="person"></q-icon>
                      </template>
                    </q-input>
                  </template>
                </div>
                <div class="politica text-caption q-my-sm">Tu privacidad es muy importante para The Home Depot. Al momento de proporcionarnos tus datos personales tales como nombre, dirección, teléfono, registro federal de contribuyentes (RFC) o Clave Única de Registro de Población (CURP), entre otros (en lo sucesivo los “Datos Personales”) estás consintiendo la manera en que obtenemos, utilizamos, compartimos o almacenamos tus Datos Personales en México conforme al presente <a target="_blank" href="https://www.homedepot.com.mx/aviso-privacidad?catalogId=10101&amp;storeId=10351&amp;storeId=10351&amp;krypto=TCt%2FI1bNJidAOpYnW1U7jMgfcwpZlcBs29GblFjGOwC4n%2BjVtQ0dyc%2B004kOGi2GNAUmYXRX%2FNvRblBX3l9LvJVNG0nufn6xXUKGJQ96TC63pJXRG40d59D7x9rJgrXFt8uRSYPigszip0a3c%2BSaZW8r6mAX3M5a54sBdRQShxw%3D">Aviso de Privacidad</a>.</div>
                <q-btn class="q-mt-sm" label="Continuar" push size="lg" text-color="primary" color="white" type="submit"></q-btn>
              </q-form>
              <q-form class="full-width text-center" @submit.prevent="formSubmitSMS" v-else-if="dialogFormSMS">
                <div class="bg-white rounded-borders q-pa-sm">
                  <q-input class="q-my-md" dense v-model="formdataSMS" label="Código SMS de verificación" filled required :rules="[val =&gt; !!val || 'Campo requerido.']">
                    <template v-slot:append>
                      <q-icon name="pin"></q-icon>
                    </template>
                  </q-input>
                  <div>
                    <q-btn class="q-my-xs" label="Cancelar" push size="sm" color="grey" @click="cancelDialogFormSMS"></q-btn>
                  </div>
                  <div>
                    <q-btn class="q-my-sm" label="Verificar" push size="lg" color="primary" type="submit"></q-btn>
                  </div>
                </div>
              </q-form>
            </q-card-section>
            <section class="q-pa-md q-mt-xl">
              <div class="row">
                <div class="col-md-2 offset-md-10 col-sm-4 offset-sm-8 col-6 offset-3 text-right"><a href="https://blue.mx/" target="_blank">
                    <q-img src="app/BluePowered.svg" style="max-width: 180px"></q-img></a></div>
              </div>
            </section>
            <div class="bg-dark">
              <div class="text-center q-py-xs">
                <q-btn flat label="Términos y condiciones" color="white" dark no-caps @click="dialogTerminos=true"></q-btn>
              </div>
            </div>
            <q-dialog v-model="dialogTerminos" full-width>
              <q-card class="shadow-0" style="max-width: 800px">
                <q-toolbar>
                  <q-toolbar-title class="text-primary text-body1 text-bold">Términos y condiciones de  Burbujas de Pintura</q-toolbar-title>
                  <q-btn v-close-popup icon="close" color="primary" flat></q-btn>
                </q-toolbar>
                <q-card-section>
                  <q-scroll-area style="height: 70vh;">
                    <div class="terminosycondiciones q-ma-lg">
                      <p><strong>Definiciones</strong></p>
                      <p>Para el juego de destreza Burbujas de Pintura los términos establecidos a continuación tendrán los siguientes significados:</p>
                      <ul>
                        <li>Burbujas de Pintura: es el juego de destreza propiedad de HOME DEPOT MÉXICO, S.de R.L. DE C.V (HOME DEPOT) y operado por OPERADORA ROFERI S.A. DE C.V. (BLUE PURE LOYALTY) mediante el cual los clientes elegibles pueden participar para ganar un certificado de regalo. El juego Burbujas de Pintura en lo sucesivo y para efectos del presente documento se le denominará indistintamente como juego Burbujas de Pintura o como el juego.</li>
                        <li>Participantes: son los clientes de HOME DEPOT elegibles para participar en el juego.</li>
                        <li>Certificado de regalo: código único y prescindible para obtener servicios o productos en las tiendas indicadas por los establecimientos y reportadas en medio digital, también se le podrá denominar indistintamente certificado o tarjeta de regalo.</li>
                        <li>Establecimientos: Empresa que emite certificados de regalo de importe variable, prescindibles en las tiendas físicas o en línea indicadas por ellos mismos.</li>
                        <li>Tiendas: Tiendas físicas y en línea (comercio electrónico), de los Establecimientos o de terceros de los que el Establecimiento se sirve para la venta al público de sus productos y/o servicios y que aceptan los Certificados de Regalo como medio de pago.</li>
                      </ul>
                      <p><strong>Elección del certificado de regalo</strong></p>
                      <ul>
                        <li>Los Participantes podrán elegir un certificado de regalo que podrán obtener sólo en caso de ser ganadores del juego.</li>
                        <li>El Participante deberá elegir una marca o Establecimiento de certificado de regalo. Cada Establecimiento establece importes definidos por ellos mismos, por lo que es posible que algún momento no esté disponible el monto concreto indicado en el juego.</li>
                        <li>BLUE PURE LOYALTY se reserva el derecho a modificar, en cualquier momento y sin previo aviso, los certificados de regalo que podrá elegir el participante.</li>
                        <li>Los certificados de regalo facilitados por BLUE PURE LOYALTY a los ganadores provienen de Establecimientos y Tiendas que pertenecer a terceros. La entrega de los mismas no significa, en modo alguno, que BLUE PURE LOYALTY emita los mismos de forma directa, solo actúa como mero transmisor indirecto de los certificados de terceros y no representa o actúa por cuenta de dichas marcas, páginas web, logos y empresas registradas.</li>
                      </ul>
                      <p><strong>Entrega del certificado de regalo</strong></p>
                      <ul>
                        <li>BLUE PURE LOYALTY enviará al Participante ganador vía email y/o SMS el certificado de regalo que haya seleccionado previamente.</li>
                        <li>Los certificados de regalo entregados por BLUE PURE LOYALTY son emitidos por empresas terceras. En caso de que un certificado de regalo emitidos por un tercero no funcione correctamente, deberá resolver esta incidencia directamente con la empresa emisora. BLUE PURE nunca será responsable por dicha incidencia.</li>
                        <li>BLUE PURE LOYALTY no se hace responsable de la pérdida, extravío o divulgación por error u omisión de la información incluida en los correos electrónicos y SMS enviados con los certificados de regalo entregados. En estos casos no se repondrá el certificado de regalo.</li>
                        <li>BLUE PURE LOYALTY tampoco será responsable si no fuera posible entregar un certificado de regalo a un Participante si ha bloqueado su correo electrónico, si tiene un cortafuegos o si el correo electrónico es considerado SPAM por el proveedor de correo electrónico, si la bandeja de entrada se encuentra llena o por cualquier otro motivo tecnológico similar que escape a nuestro control.</li>
                        <li>En caso de que un certificado de regalo, no funcione, sea errónea, tenga un saldo incorrecto, indique que ya ha sido utilizada o sufra cualquier otra incidencia, BLUE PURE LOYALTY no se hace responsable al no disponer de los medios para poder comprobar el estado de la tarjeta regalo en el sistema informático propio del emisor de la misma.</li>
                        <li>BLUE PURE LOYALTY se reserva el derecho y la posibilidad de entregar el importe total del certificado de regalo final en varios certificados cuyos valores sumados sean equivalentes al importe total elegido por el Participante. Esto puede deberse a problemas de stock, cambios en los importes emitidos por las marcas u otros factores.</li>
                        <li>Los certificados de regalo tendrán la vigencia y podrán utilizarse dentro del plazo específicamente indicado por cada Establecimiento, para adquirir bienes y servicios en las Tiendas que aceptan los certificados como medio de pago, en las condiciones de uso determinadas por los propios Establecimientos.</li>
                        <li>Si el saldo disponible no es suficiente para ejecutar una compra en su totalidad, no se garantiza que todos los Establecimientos permitan el uso de los certificados de regalo junto con otros métodos de pago.</li>
                        <li>El Participante debe tomar todas las medidas razonables para evitar la pérdida, el robo o el uso indebido de los certificados de regalo. BLUE PURE LOYALTY no es responsable de ninguna manera de la reposición de los certificados de regalo en dichos casos.</li>
                        <li>BLUE PURE LOYALTY se exime de toda responsabilidad ante cualquier reclamo, solicitud, pérdida, costo, carga, responsabilidad y/o consecuencia perjudicial derivada de acciones y reclamos hechos por terceros y/o el Establecimiento contra BLUE PURE LOYALTY como consecuencia del uso impropio y/o ilícito de los certificados de regalo.</li>
                        <li>BLUE PURE LOYALTY no será responsable, por ningún motivo y de ninguna manera, de los defectos o fallos de los bienes y servicios adquiridos con los certificados de regalo. Cualquier reembolso o devolución estará sujeta a las políticas del Establecimiento y las regulaciones aplicables y se deberá de dar seguimiento directamente con el Establecimiento.</li>
                      </ul>
                      <p><strong>Participación en el Juego</strong></p>
                      <ul>
                        <li>Los Participantes podrán participar en el juego Burbujas de Pintura, acumularán un monto en puntos al finalizar el juego dependiendo de su destreza.</li>
                        <li>Los puntos acumulados por los Participantes no tienen ningún valor y solamente es una referencia para determinar al Participante ganador en el juego.</li>
                        <li>Durante la participación en el juego, BLUE PURE LOYALTY no es responsable de cualquier falla técnica que le impida jugar, finalizar el  juego o cualquier otra situación técnica que pueda afectar en la puntuación o finalización del juego por parte del Participante. </li>
                      </ul>
                      <p><strong>Comunicación</strong></p>
                      <ul>
                        <li>Con el fin de enviar comunicaciones y recibir cualquier aclaración sobre el juego y los certificados de regalo, se pone a disposición de los Participantes el correo electrónico thehomedepot@bluegames.mx.</li>
                      </ul>
                    </div>
                  </q-scroll-area>
                </q-card-section>
              </q-card>
            </q-dialog>
            <footer class="bg-info">
              <div class="text-center q-py-sm"><a href="https://blue.mx/" target="_blank">
                  <q-img src="app/BlueCircle.svg" style="max-width: 40px;"></q-img></a></div>
            </footer>
          </q-card>
        </q-dialog>
      </div>
      <!--Footer Blue-->
      <section class="q-pa-md q-mt-xl">
        <div class="row">
          <div class="col-md-2 offset-md-10 col-sm-4 offset-sm-8 col-6 offset-3 text-right"><a href="https://blue.mx/" target="_blank">
              <q-img src="app/BluePowered.svg" style="max-width: 180px"></q-img></a></div>
        </div>
      </section>
      <div class="bg-dark">
        <div class="text-center q-py-xs">
          <q-btn flat label="Términos y condiciones" color="white" dark no-caps @click="dialogTerminos=true"></q-btn>
        </div>
      </div>
      <q-dialog v-model="dialogTerminos" full-width>
        <q-card class="shadow-0" style="max-width: 800px">
          <q-toolbar>
            <q-toolbar-title class="text-primary text-body1 text-bold">Términos y condiciones de  Burbujas de Pintura</q-toolbar-title>
            <q-btn v-close-popup icon="close" color="primary" flat></q-btn>
          </q-toolbar>
          <q-card-section>
            <q-scroll-area style="height: 70vh;">
              <div class="terminosycondiciones q-ma-lg">
                <p><strong>Definiciones</strong></p>
                <p>Para el juego de destreza Burbujas de Pintura los términos establecidos a continuación tendrán los siguientes significados:</p>
                <ul>
                  <li>Burbujas de Pintura: es el juego de destreza propiedad de HOME DEPOT MÉXICO, S.de R.L. DE C.V (HOME DEPOT) y operado por OPERADORA ROFERI S.A. DE C.V. (BLUE PURE LOYALTY) mediante el cual los clientes elegibles pueden participar para ganar un certificado de regalo. El juego Burbujas de Pintura en lo sucesivo y para efectos del presente documento se le denominará indistintamente como juego Burbujas de Pintura o como el juego.</li>
                  <li>Participantes: son los clientes de HOME DEPOT elegibles para participar en el juego.</li>
                  <li>Certificado de regalo: código único y prescindible para obtener servicios o productos en las tiendas indicadas por los establecimientos y reportadas en medio digital, también se le podrá denominar indistintamente certificado o tarjeta de regalo.</li>
                  <li>Establecimientos: Empresa que emite certificados de regalo de importe variable, prescindibles en las tiendas físicas o en línea indicadas por ellos mismos.</li>
                  <li>Tiendas: Tiendas físicas y en línea (comercio electrónico), de los Establecimientos o de terceros de los que el Establecimiento se sirve para la venta al público de sus productos y/o servicios y que aceptan los Certificados de Regalo como medio de pago.</li>
                </ul>
                <p><strong>Elección del certificado de regalo</strong></p>
                <ul>
                  <li>Los Participantes podrán elegir un certificado de regalo que podrán obtener sólo en caso de ser ganadores del juego.</li>
                  <li>El Participante deberá elegir una marca o Establecimiento de certificado de regalo. Cada Establecimiento establece importes definidos por ellos mismos, por lo que es posible que algún momento no esté disponible el monto concreto indicado en el juego.</li>
                  <li>BLUE PURE LOYALTY se reserva el derecho a modificar, en cualquier momento y sin previo aviso, los certificados de regalo que podrá elegir el participante.</li>
                  <li>Los certificados de regalo facilitados por BLUE PURE LOYALTY a los ganadores provienen de Establecimientos y Tiendas que pertenecer a terceros. La entrega de los mismas no significa, en modo alguno, que BLUE PURE LOYALTY emita los mismos de forma directa, solo actúa como mero transmisor indirecto de los certificados de terceros y no representa o actúa por cuenta de dichas marcas, páginas web, logos y empresas registradas.</li>
                </ul>
                <p><strong>Entrega del certificado de regalo</strong></p>
                <ul>
                  <li>BLUE PURE LOYALTY enviará al Participante ganador vía email y/o SMS el certificado de regalo que haya seleccionado previamente.</li>
                  <li>Los certificados de regalo entregados por BLUE PURE LOYALTY son emitidos por empresas terceras. En caso de que un certificado de regalo emitidos por un tercero no funcione correctamente, deberá resolver esta incidencia directamente con la empresa emisora. BLUE PURE nunca será responsable por dicha incidencia.</li>
                  <li>BLUE PURE LOYALTY no se hace responsable de la pérdida, extravío o divulgación por error u omisión de la información incluida en los correos electrónicos y SMS enviados con los certificados de regalo entregados. En estos casos no se repondrá el certificado de regalo.</li>
                  <li>BLUE PURE LOYALTY tampoco será responsable si no fuera posible entregar un certificado de regalo a un Participante si ha bloqueado su correo electrónico, si tiene un cortafuegos o si el correo electrónico es considerado SPAM por el proveedor de correo electrónico, si la bandeja de entrada se encuentra llena o por cualquier otro motivo tecnológico similar que escape a nuestro control.</li>
                  <li>En caso de que un certificado de regalo, no funcione, sea errónea, tenga un saldo incorrecto, indique que ya ha sido utilizada o sufra cualquier otra incidencia, BLUE PURE LOYALTY no se hace responsable al no disponer de los medios para poder comprobar el estado de la tarjeta regalo en el sistema informático propio del emisor de la misma.</li>
                  <li>BLUE PURE LOYALTY se reserva el derecho y la posibilidad de entregar el importe total del certificado de regalo final en varios certificados cuyos valores sumados sean equivalentes al importe total elegido por el Participante. Esto puede deberse a problemas de stock, cambios en los importes emitidos por las marcas u otros factores.</li>
                  <li>Los certificados de regalo tendrán la vigencia y podrán utilizarse dentro del plazo específicamente indicado por cada Establecimiento, para adquirir bienes y servicios en las Tiendas que aceptan los certificados como medio de pago, en las condiciones de uso determinadas por los propios Establecimientos.</li>
                  <li>Si el saldo disponible no es suficiente para ejecutar una compra en su totalidad, no se garantiza que todos los Establecimientos permitan el uso de los certificados de regalo junto con otros métodos de pago.</li>
                  <li>El Participante debe tomar todas las medidas razonables para evitar la pérdida, el robo o el uso indebido de los certificados de regalo. BLUE PURE LOYALTY no es responsable de ninguna manera de la reposición de los certificados de regalo en dichos casos.</li>
                  <li>BLUE PURE LOYALTY se exime de toda responsabilidad ante cualquier reclamo, solicitud, pérdida, costo, carga, responsabilidad y/o consecuencia perjudicial derivada de acciones y reclamos hechos por terceros y/o el Establecimiento contra BLUE PURE LOYALTY como consecuencia del uso impropio y/o ilícito de los certificados de regalo.</li>
                  <li>BLUE PURE LOYALTY no será responsable, por ningún motivo y de ninguna manera, de los defectos o fallos de los bienes y servicios adquiridos con los certificados de regalo. Cualquier reembolso o devolución estará sujeta a las políticas del Establecimiento y las regulaciones aplicables y se deberá de dar seguimiento directamente con el Establecimiento.</li>
                </ul>
                <p><strong>Participación en el Juego</strong></p>
                <ul>
                  <li>Los Participantes podrán participar en el juego Burbujas de Pintura, acumularán un monto en puntos al finalizar el juego dependiendo de su destreza.</li>
                  <li>Los puntos acumulados por los Participantes no tienen ningún valor y solamente es una referencia para determinar al Participante ganador en el juego.</li>
                  <li>Durante la participación en el juego, BLUE PURE LOYALTY no es responsable de cualquier falla técnica que le impida jugar, finalizar el  juego o cualquier otra situación técnica que pueda afectar en la puntuación o finalización del juego por parte del Participante. </li>
                </ul>
                <p><strong>Comunicación</strong></p>
                <ul>
                  <li>Con el fin de enviar comunicaciones y recibir cualquier aclaración sobre el juego y los certificados de regalo, se pone a disposición de los Participantes el correo electrónico thehomedepot@bluegames.mx.</li>
                </ul>
              </div>
            </q-scroll-area>
          </q-card-section>
        </q-card>
      </q-dialog>
      <footer class="bg-info">
        <div class="text-center q-py-sm"><a href="https://blue.mx/" target="_blank">
            <q-img src="app/BlueCircle.svg" style="max-width: 40px;"></q-img></a></div>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.1.0/dist/quasar.umd.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="app/app.js"></script>
  </body>
</html>