q-dialog(v-model="dialogActivity" maximized persistent)
    q-card.activitycard
            iframe(v-if="dialogActivity" src="activity/index.html" ref="activity" @load="activityFN")
            
            q-dialog(v-model="dialogFinish" position="bottom" seamless)
                q-card.bg-transparent
                    q-card-section.text-center
                        div
                            span.q-pa-sm.bg-white.rounded-borders.text-body1 ID de participación:
                                q-badge(:label="idparticipacion" color="primary")
                        .q-ma-md: q-btn(label="Terminar" push color="dark" no-caps type="a" href="https://homedepot.com.mx/")