q-dialog(v-model="dialogCert" persistent)
    q-card.shadow-0
        q-toolbar
            q-toolbar-title.text-body2.text-primary.text-bold {{itemActive[3]}}
            q-btn(v-close-popup icon="close" color="primary" flat)
        q-card-section
            .row.items-center
                .col-12.col-sm-4.text-center
                    q-img(:src="'app/cert/'+itemActive[0]+'.png'" style="max-width: 120px")
                    div: q-badge(:label="itemActive[2]" color="primary" size="lg")
                .col-12.col-sm-8(v-html="itemActive[1]")
        q-card-section
            q-separator.q-mb-lg
            .row.items-center
                .col-12.col-sm-4.text-center
                    q-btn(color="grey" push label="Cerrar" v-close-popup)
                .col-12.col-sm-8.text-center
                    q-btn(color="primary" push label="Seleccionar y Jugar" size="lg" @click="chooseit(itemActive[0])")
                    