p: strong Definiciones
p Para el juego de destreza Burbujas de Pintura los términos establecidos a continuación tendrán los siguientes significados:
ul
	li Burbujas de Pintura: es el juego de destreza propiedad de HOME DEPOT MÉXICO, S.de R.L. DE C.V (HOME DEPOT) y operado por OPERADORA ROFERI S.A. DE C.V. (BLUE PURE LOYALTY) mediante el cual los clientes elegibles pueden participar para ganar un certificado de regalo. El juego Burbujas de Pintura en lo sucesivo y para efectos del presente documento se le denominará indistintamente como juego Burbujas de Pintura o como el juego.
	li Participantes: son los clientes de HOME DEPOT elegibles para participar en el juego.
	li Certificado de regalo: código único y prescindible para obtener servicios o productos en las tiendas indicadas por los establecimientos y reportadas en medio digital, también se le podrá denominar indistintamente certificado o tarjeta de regalo.
	li Establecimientos: Empresa que emite certificados de regalo de importe variable, prescindibles en las tiendas físicas o en línea indicadas por ellos mismos.
	li Tiendas: Tiendas físicas y en línea (comercio electrónico), de los Establecimientos o de terceros de los que el Establecimiento se sirve para la venta al público de sus productos y/o servicios y que aceptan los Certificados de Regalo como medio de pago.

p: strong Elección del certificado de regalo

ul
	li Los Participantes podrán elegir un certificado de regalo que podrán obtener sólo en caso de ser ganadores del juego.
	li El Participante deberá elegir una marca o Establecimiento de certificado de regalo. Cada Establecimiento establece importes definidos por ellos mismos, por lo que es posible que algún momento no esté disponible el monto concreto indicado en el juego.
	li BLUE PURE LOYALTY se reserva el derecho a modificar, en cualquier momento y sin previo aviso, los certificados de regalo que podrá elegir el participante.
	li Los certificados de regalo facilitados por BLUE PURE LOYALTY a los ganadores provienen de Establecimientos y Tiendas que pertenecer a terceros. La entrega de los mismas no significa, en modo alguno, que BLUE PURE LOYALTY emita los mismos de forma directa, solo actúa como mero transmisor indirecto de los certificados de terceros y no representa o actúa por cuenta de dichas marcas, páginas web, logos y empresas registradas.

p: strong Entrega del certificado de regalo
ul
	li BLUE PURE LOYALTY enviará al Participante ganador vía email y/o SMS el certificado de regalo que haya seleccionado previamente.
	li Los certificados de regalo entregados por BLUE PURE LOYALTY son emitidos por empresas terceras. En caso de que un certificado de regalo emitidos por un tercero no funcione correctamente, deberá resolver esta incidencia directamente con la empresa emisora. BLUE PURE nunca será responsable por dicha incidencia.
	li BLUE PURE LOYALTY no se hace responsable de la pérdida, extravío o divulgación por error u omisión de la información incluida en los correos electrónicos y SMS enviados con los certificados de regalo entregados. En estos casos no se repondrá el certificado de regalo.
	li BLUE PURE LOYALTY tampoco será responsable si no fuera posible entregar un certificado de regalo a un Participante si ha bloqueado su correo electrónico, si tiene un cortafuegos o si el correo electrónico es considerado SPAM por el proveedor de correo electrónico, si la bandeja de entrada se encuentra llena o por cualquier otro motivo tecnológico similar que escape a nuestro control.
	li En caso de que un certificado de regalo, no funcione, sea errónea, tenga un saldo incorrecto, indique que ya ha sido utilizada o sufra cualquier otra incidencia, BLUE PURE LOYALTY no se hace responsable al no disponer de los medios para poder comprobar el estado de la tarjeta regalo en el sistema informático propio del emisor de la misma.
	li BLUE PURE LOYALTY se reserva el derecho y la posibilidad de entregar el importe total del certificado de regalo final en varios certificados cuyos valores sumados sean equivalentes al importe total elegido por el Participante. Esto puede deberse a problemas de stock, cambios en los importes emitidos por las marcas u otros factores.
	li Los certificados de regalo tendrán la vigencia y podrán utilizarse dentro del plazo específicamente indicado por cada Establecimiento, para adquirir bienes y servicios en las Tiendas que aceptan los certificados como medio de pago, en las condiciones de uso determinadas por los propios Establecimientos.
	li Si el saldo disponible no es suficiente para ejecutar una compra en su totalidad, no se garantiza que todos los Establecimientos permitan el uso de los certificados de regalo junto con otros métodos de pago.
	li El Participante debe tomar todas las medidas razonables para evitar la pérdida, el robo o el uso indebido de los certificados de regalo. BLUE PURE LOYALTY no es responsable de ninguna manera de la reposición de los certificados de regalo en dichos casos.
	li BLUE PURE LOYALTY se exime de toda responsabilidad ante cualquier reclamo, solicitud, pérdida, costo, carga, responsabilidad y/o consecuencia perjudicial derivada de acciones y reclamos hechos por terceros y/o el Establecimiento contra BLUE PURE LOYALTY como consecuencia del uso impropio y/o ilícito de los certificados de regalo.
	li BLUE PURE LOYALTY no será responsable, por ningún motivo y de ninguna manera, de los defectos o fallos de los bienes y servicios adquiridos con los certificados de regalo. Cualquier reembolso o devolución estará sujeta a las políticas del Establecimiento y las regulaciones aplicables y se deberá de dar seguimiento directamente con el Establecimiento.

p: strong Participación en el Juego
ul
	li Los Participantes podrán participar en el juego Burbujas de Pintura, acumularán un monto en puntos al finalizar el juego dependiendo de su destreza.
	li Los puntos acumulados por los Participantes no tienen ningún valor y solamente es una referencia para determinar al Participante ganador en el juego.
	li Durante la participación en el juego, BLUE PURE LOYALTY no es responsable de cualquier falla técnica que le impida jugar, finalizar el  juego o cualquier otra situación técnica que pueda afectar en la puntuación o finalización del juego por parte del Participante. 

p: strong Comunicación
ul
	li Con el fin de enviar comunicaciones y recibir cualquier aclaración sobre el juego y los certificados de regalo, se pone a disposición de los Participantes el correo electrónico thehomedepot@bluegames.mx.


